<div class="modal-content" style="border-radius: 0; border:none;">
    <div class="modal-header" style="background-color: #34495E; color: white;">
        <h5 class="modal-title"><b>Upload Product</b></h5>
    </div>
    <div class="modal-body">
        <p>Products Added</p>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-3">Art. No.</th>
                        <th class="col-md-7">Product Name</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat ="product in products">
                        <td>{{product.ArtNo}}</td>
                        <td>{{product.ProductName}}</td>
                        <td style="text-align: center;">
                            <button type="button" class="btn btn-xs btn-default btn-upload-product" style="background-color:#FF8080" ng-click="removeProduct($index)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>Product Info</p>
        <div class="container">
            <div class="row">
                <div class="col-md-6 uploadProductModalButton">
                    <input class="form-control login-textbox" id="ArticleNo" name="ArticleNo" placeholder="Article No." ng-model="artNo" type="text">
                </div>
                <div class="col-md-6 uploadProductModalButton">
                    <input class="form-control login-textbox" id="ProductName" name="ProductName" placeholder="Product Name" ng-model="productName" type="text">
                </div>
            </div>
            <div class="row uploadProductModalButton">
                <div class="col-md-11" style="padding:0px;">
                    <input class="form-control login-textbox" id="FileLocation" name="FileLocation" placeholder="Choose File" type="text">
                </div>
                <div class="col-md-1" style="padding:0px;">
                    <button type="button" class="btn btn-default btn-block btn-upload-product" style="background-color: #34495E; height: 34px;" ng-click="cancel()">
                        <i class="fa fa-caret-right "></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 uploadProductModalButton">
                    <button type="button" class="btn btn-default btn-block btn-upload-product" style="background-color:#FF8080" ng-click="cancel()">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                </div>
                <div class="col-md-4 uploadProductModalButton">
                    <button type="button" class="btn btn-default btn-block btn-upload-product" style="background-color:#C2C2C2;" ng-click="addProduct()">
                        <i class="fa fa-plus"></i>
                        Add Product
                    </button>
                </div>
                <div class="col-md-4 uploadProductModalButton">
                    <button type="button" class="btn btn-default btn-block btn-upload-product" ng-click="cancel()">
                        <i class="fa fa-cloud-upload"></i>
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


