@model Formeo.Models._IndexCustomerViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="row" ng-controller="customerPageController" ng-cloak>

    <p class="text-right"> Number of stored products </p>
    <div class="col-md-1">
        <div class="navigation">
            <div class="row">
                <div class="sidebar">
                    <ol class="sidebar-menu">
                        <li>
                            <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Orders')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Orders')}">
                                <i class="fa fa-shopping-cart fa-2x" style="color: white"></i>
                                <br>Orders
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Storage')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Storage')}">
                                <i class="fa fa-cloud fa-2x" style="color:white"></i>
                                <br>Storage
                            </button>
                        </li>
                        <li>
                            <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Stats')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Stats')}">
                                <i class="fa fa-bar-chart fa-2x" style="color:white"></i>
                                <br>Stats
                            </button>
                        </li>
                        <li>
                            <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Settings')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Settings')}">
                                <i class="fa fa-cog fa-2x" style="color:white"></i>
                                <br>Settings
                            </button>
                        </li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-default text-center btn-sidebar-menu">
                                    <i class="fa fa-sign-out fa-2x" style="color: white"></i>
                                    <br>Logout
                                </button>
                            }
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-11">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Art.No">
            <span class="input-group-btn">
                <button class="btn btn-dark" type="button"><i class="fa fa-search"></i></button>
            </span>

            <span style="margin-left:100px">
                <button type="button" class="btn btn-default btn-upload-product" style="background-color:#49c9af; width:200%;" ng-disabled="isActiveMainMenu('/Storage') && layOrderButtonIsDisabled" ng-click="showLayOrderModal()">
                    <i class="fa fa-paper-plane-o"></i> Lay Order
                </button>
            </span>
        </div>

        <br />
        <div class="row custom-greed">
            <div ng-show="isActiveMainMenu('/Storage')">

                <div ng-init="printObjects = @Model.PrintObjectsJSON" />

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>Results</h4>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1"></th>
                                    <th class="col-md-2">Art.No.</th>
                                    <th class="col-md-3">Product Name</th>
                                    <th class="col-md-3">Selected producer (price)</th>
                                    <th class="col-md-1">Select bid</th>
                                    <th class="col-md-1">Demand Bids</th>
                                    <th class="col-md-1">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="printObject in printObjects">
                                    <td>
                                        <input type="checkbox" ng-show="printObject.SelectedProducerCompanyId != null" ng-model="printObject.IsSelected" ng-click="addOrRemovePrintobject(printObject.Id)" />
                                    </td>
                                    <td>
                                        {{printObject.ArtNo}}
                                    </td>
                                    <td>
                                        {{printObject.Name}}
                                    </td>
                                    <td>
                                        <div ng-show="printObject.SelectedProducerCompanyId!=null">
                                            {{printObject.CompanyName}} ({{printObject.CurrentPrice}})
                                        </div>
                                    </td>
                                    <td>
                                        <a ng-show="printObject.HasBids">
                                            <i class="fa fa-usd" ng-click="ShowBidsForPrintObject(printObject.Id)"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" ng-click="toogleIsNeedBid(printObject);">
                                            <i class=" fa fa-square-o" ng-show="!printObject.IsNeedBid"></i>
                                            <i class="fa fa-check-square-o" ng-show="printObject.IsNeedBid"></i>
                                        </a>
                                    </td>
                                    <td class="actions">
                                        <a href="#" ng-click="download(printObject.Id)"><i class="fa fa-download"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-show="isActiveMainMenu('/Orders')">

        <div ng-init="activeProjects = @Model.Orders_ActiveOrders" />
        <div ng-init="completedProjects = @Model.Orders_CompletedOrders" />

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        <h4>Active Orders</h4>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-4">Product Name</th>
                            <th class="col-md-4">Quantity</th>
                            <th class="col-md-4">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in activeProjects">
                            <td class="col-md-4"><a href="#" ng-click="ShowProjectStatus(project.ProjectId)">{{project.Name}}</a></td>
                            <td class="col-md-4">{{project.Quantity}}</td>
                            <td class="col-md-4 actions">
                                <i class="fa fa-stack-exchange"></i>
                                <i class="fa fa-photo"></i>
                                <i class="fa fa-download"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        <h4>Completed Orders</h4>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-4">Product Name</th>
                            <th class="col-md-4">Quantity</th>
                            <th class="col-md-4">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in completedProjects">
                            <td class="col-md-4">{{project.Name}}</td>
                            <td class="col-md-4">{{project.Quantity}}</td>
                            <td class="col-md-4 actions">
                                <i class="fa fa-stack-exchange"></i>
                                <i class="fa fa-photo"></i>
                                <i class="fa fa-download"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
