@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="adminPageController" ng-cloak>
    <p class="text-right">Nubmer of stored products</p>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-3 sidebar">
                <ol class="sidebar-menu">
                    <li>
                        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Clients')"  ng-class="{'btn-menu-selected': isActiveMainMenu('/Clients')}">
                            <i class="fa fa-users fa-2x" style="color:white"></i>
                            <br>Clients
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Storage')"  ng-class="{'btn-menu-selected': isActiveMainMenu('/Storage')}">
                            <i class="fa fa-cloud fa-2x" style="color:white"></i>
                            <br>Storage
                        </button>
                    </li>
                    <li>
                        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Orders')"  ng-class="{'btn-menu-selected': isActiveMainMenu('/Orders')}">
                            <i class="fa fa-shopping-cart fa-2x" style="color:white"></i>
                            <br>Orders
                        </button>
                    </li>
                    <li>
                        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Stats')"  ng-class="{'btn-menu-selected': isActiveMainMenu('/Stats')}">
                            <i class="fa fa-bar-chart fa-2x" style="color:white"></i>
                            <br>Stats
                        </button>
                    </li>
                    <li>
                        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Settings')"  ng-class="{'btn-menu-selected': isActiveMainMenu('/Settings')}">
                            <i class="fa fa-cog fa-2x" style="color:white"></i>
                            <br>Settings
                        </button>
                    </li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                        {
                            @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-default text-center btn-sidebar-menu">
                            <i class="fa fa-sign-out fa-2x" style="color:white"></i>
                            <br>Logout
                        </button>
                        }
                    </li>
                </ol>
            </div>
            <div class="col-md-9 sidebar_menu_content">
                <ol class="sidebar-menu">
                    <li>
                        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectClientMenu('/AddUser')"  ng-class="{'btn-menu-selected': isActiveCLientsMenu('/AddUser')}">
                            <i class="fa fa-plus-circle fa-2x" style="color:white"></i>
                            <br>Add user
                        </button>
                    </li><li>
                        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectClientMenu('/GetInfo')"  ng-class="{'btn-menu-selected': isActiveCLientsMenu('/GetInfo')}">
                            <i class="fa fa-info-circle fa-2x" style="color:white"></i>
                            <br>Get info
                        </button>
                    </li><li>
                        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectClientMenu('/ManageUser')"  ng-class="{'btn-menu-selected': isActiveCLientsMenu('/ManageUser')}">
                            <i class="fa fa-pencil-square fa-2x" style="color:white"></i>
                            <br>Manage user
                        </button>
                    </li>
                </ol>

                <div class="container">
                    <form role="form">
                        <div class="padding30px">
                            <div class="form-group form-group-margin">
                                <input type="text" placeholder="Username" autofocus class="form-control input-lg login-textbox textbox-menu" />
                                <input type="text" placeholder="Password" autofocus class="form-control input-lg login-textbox textbox-menu" />
                                <input type="text" placeholder="Email" autofocus class="form-control input-lg login-textbox textbox-menu" />
                            </div>
                            <div class="form-group form-group-margin">
                                <input type="text" placeholder="Address" autofocus class="form-control input-lg login-textbox textbox-menu" />
                                <input type="text" placeholder="Postal" autofocus class="form-control input-lg login-textbox textbox-menu" />
                                <input type="text" placeholder="City" autofocus class="form-control input-lg login-textbox textbox-menu" />
                                <input type="text" placeholder="Country" autofocus class="form-control input-lg login-textbox textbox-menu" />
                            </div>
                            <div class="form-group form-group-margin">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label style="font-size:medium">Production</label>
                                        <label style="font-size:medium">Customer</label>
                                        <label style="font-size:medium">Admin</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" value="">
                                        <input type="checkbox" value="">
                                        <input type="checkbox" value="">
                                    </div>
                                    <div class="col-md-5">
                                        <button type="button" class="btn btn-default text-center btn-upload-product" style="height:70px; width:70px;">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h2>{{helloVariable}}</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>