@model Formeo.Models._BidsForPrintObjectsViewModel

<div ng-init="bids = @Model.BidsJSON" />
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Bid Product</h4>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td class="col-md-1"></td>
                            <td class="col-md-5">Company Name</td>
                            <td class="col-md-6">Price</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="bid in bids">
                            <td class="col-md-1">
                                <input type="checkbox" ng-model="bid.IsSelected" ng-click="selectSingleItem($index,bids)" />
                            </td>
                            <td class="col-md-5">{{bid.ProducerCompanyName}}</td>
                            <td class="col-md-6">{{bid.Price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" ng-disabled="!HasSelectedProducer()" class="btn btn-default selectProducerButton" ng-click="SaveSelectProducerCompany()">Select Producer</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>


