body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-default {
    background-color: #FFFFFF;
    border: none;
}	
.navbar > .container > div
{
  background-color: #34495E;
  width:auto;
}

.btn-upload-product,.btn-upload-product:focus {
    background-color:#1BBC9B; border-radius:0px;
    border-width:0px;
    color:white;
    height:67px;
}

.btn-upload-product:hover { 
    background-color: #49C9AF;
    color:white;
}

.form-signin {
    max-width: 350px;
    padding: 25px;
    margin: 0 auto;
    border-width:1px;
    border-color:black;
    border-style: solid;
    margin-top:50px;
}

.login-textbox {
    border-radius:0px;
    margin-bottom:10px;
    max-width: 9000px;
}

.sidebar {
    padding-left: 0px;
}

ol.sidebar-menu {
    list-style-type: none;
    padding-left: inherit;
}

.btn-sidebar-menu {
    background-color:#34495E; border-radius:0px;
    border-width:0px;
    color:white;
    width:85px;
    height:95px;
}

.btn-sidebar-menu:hover, .btn-sidebar-menu:focus { 
    background-color: #485B6E;
    color:white;
}
