/*Colors*/
/*Size*/
html {
  padding: 0; }

body {
  /*padding-top: 50px;*/
  padding-bottom: 20px; }

a, .link {
  text-decoration: none; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
  max-width: 280px; }

.navbar-default {
  background-color: #FFFFFF;
  border: none; }

.navbar > .container > div {
  background-color: #34495E;
  width: auto; }

.btn-upload-product, .btn-upload-product:active {
  background-color: #49c9af;
  border-radius: 0;
  border-width: 0;
  color: white; }
  .btn-upload-product:hover {
    background-color: #49c9af;
    color: white; }

.btn-default, .btn-default:active:focus {
	background-color: #49c9af;
	color: white; 
}

.lable-green-1 {
  color: #32ba9e; }

.pointer {
  cursor: pointer !important; }

.form-signin {
  max-width: 350px;
  padding: 25px;
  margin: 0 auto;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-top: 50px; }

.login-textbox {
  border-radius: 0;
  margin-bottom: 10px;
  max-width: 9000px; }

.form-group-margin {
  margin-bottom: 13px !important; }

.textbox-menu {
  margin-bottom: 6px;
  margin-top: 6px;
  height: 37px; }

.textbox-menu::-webkit-input-placeholder, .textbox-menu::-moz-placeholder, .textbox-menu:-moz-placeholder, .textbox-menu:-ms-input-placeholder {
  font-style: italic; }

.padding30px {
  padding-left: 20px;
  padding-right: 20px; }

.full-wight {
  width: 100%; }

.text-sm {
  font-size: 1rem; }

.right {
  float: right; }

.left {
  float: left; }

.link {
  color: white;
  text-decoration: none !important;
  font-size: 1.29em; }
  .link:hover {
    color: #49c9af;
    text-decoration: none !important; }
  .link:active {
    color: #49c9af;
    text-decoration: none !important; }

.list-group-item:last-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important; }

.list-group-item:first-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important; }

.list-group-item.active {
  color: white;
  background-color: #34495e; }

a.list-group-item {
  color: white;
  background-color: #2d3e50;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }
  a.list-group-item:hover, a.list-group-item:active, a.list-group-item:focus, a.list-group-item .active {
    color: white;
    background-color: #34495e; }

.btn-dark {
  background-color: #2d3e50;
  border-radius: 0;
  color: white; }
  .btn-dark:hover {
    color: white;
    background-color: #34495e; }

.btn-default-darck {
  background-color: #2d3e50;
  border-radius: 0;
  border-width: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: white; }
  .btn-default-darck:hover {
    color: white; }

/*Navigations section*/
.navigation {
  margin-left: -15px;
  width: 100%;
  background: #2d3e50; }
  .navigation .row {
    margin: 0;
    line-height: 100%; }
  .navigation ol.sidebar-menu {
    list-style-type: none;
    padding-left: inherit; }
  .navigation .editable-field {
    padding: 10px; }
    .navigation .editable-field .edit-value-holder {
      float: left; }
    .navigation .editable-field .edit-link-holder {
      display: table-cell;
      vertical-align: middle;
      float: right; }
      .navigation .editable-field .edit-link-holder .btn-edit-link {
        color: white;
        font-size: 0.6em;
        text-decoration: none; }
        .navigation .editable-field .edit-link-holder .btn-edit-link:hover {
          color: #49c9af; }
  .navigation .btn-sidebar-menu {
    background-color: #2d3e50;
    border-radius: 0;
    border-width: 0;
    color: white;
    min-width: 75px;
    height: 80px;
    font-size: 0.823em;
    border: none;
    margin: 0;
    opacity: 1;
    overflow: auto; }
    .navigation .btn-sidebar-menu:disabled {
      cursor: cell; }
    .navigation .btn-sidebar-menu:hover, .navigation .btn-sidebar-menu:focus {
      background-color: #34495e;
      color: white; }
  .navigation .btn-menu-selected {
    background-color: #34495e;
    color: white; }
  .navigation .sidebar {
    width: 20%;
    float: left;
    padding-left: 0; }
    .navigation .sidebar .btn-sidebar-menu {
      width: 100%; }
  .navigation .sidebar-menu-content {
    background-color: #34495e;
    float: left;
    color: white;
    padding: 0;
    width: 80%;
    height: 100%; }
    .navigation .sidebar-menu-content .btn-group {
      width: 100%;
      background: #2d3e50; }
    .navigation .sidebar-menu-content .btn-upload-product {
      float: right; }
    .navigation .sidebar-menu-content .content-place-holder {
      width: 80%;
      float: left;
      padding: 5px 15px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px; }
      .navigation .sidebar-menu-content .content-place-holder label {
        float: left; }
      .navigation .sidebar-menu-content .content-place-holder .btn-add-right {
        float: right;
        font-size: 1rem;
        border-radius: 0;
        background: #abb5bd;
        width: 25px;
        height: 25px;
        margin-top: 5px;
        margin-right: -10px; }
    .navigation .sidebar-menu-content .tabs-place-holder {
      background: white;
      width: 20%;
      float: right;
      min-height: 490px; }
    .navigation .sidebar-menu-content .class-table-cell {
      display: inline; }
    .navigation .sidebar-menu-content .container {
      height: 100%;
      min-height: 490px;
      margin-top: 5px; }
      .navigation .sidebar-menu-content .container .textbox-menu {
        font-style: italic; }
      .navigation .sidebar-menu-content .container .col-xs-1, .navigation .sidebar-menu-content .container .col-xs-2, .navigation .sidebar-menu-content .container .col-xs-3, .navigation .sidebar-menu-content .container .col-xs-4, .navigation .sidebar-menu-content .container .col-xs-5, .navigation .sidebar-menu-content .container .col-xs-6, .navigation .sidebar-menu-content .container .col-xs-7, .navigation .sidebar-menu-content .container .col-xs-8, .navigation .sidebar-menu-content .container .col-xs-9, .navigation .sidebar-menu-content .container .col-xs-10, .navigation .sidebar-menu-content .container .col-xs-11, .navigation .sidebar-menu-content .container .col-xs-12, .navigation .sidebar-menu-content .container .col-sm-1, .navigation .sidebar-menu-content .container .col-sm-2, .navigation .sidebar-menu-content .container .col-sm-3, .navigation .sidebar-menu-content .container .col-sm-4, .navigation .sidebar-menu-content .container .col-sm-5, .navigation .sidebar-menu-content .container .col-sm-6, .navigation .sidebar-menu-content .container .col-sm-7, .navigation .sidebar-menu-content .container .col-sm-8, .navigation .sidebar-menu-content .container .col-sm-9, .navigation .sidebar-menu-content .container .col-sm-10, .navigation .sidebar-menu-content .container .col-sm-11, .navigation .sidebar-menu-content .container .col-sm-12, .navigation .sidebar-menu-content .container .col-md-1, .navigation .sidebar-menu-content .container .col-md-2, .navigation .sidebar-menu-content .container .col-md-3, .navigation .sidebar-menu-content .container .col-md-4, .navigation .sidebar-menu-content .container .col-md-5, .navigation .sidebar-menu-content .container .col-md-6, .navigation .sidebar-menu-content .container .col-md-7, .navigation .sidebar-menu-content .container .col-md-8, .navigation .sidebar-menu-content .container .col-md-9, .navigation .sidebar-menu-content .container .col-md-10, .navigation .sidebar-menu-content .container .col-md-11, .navigation .sidebar-menu-content .container .col-md-12, .navigation .sidebar-menu-content .container .col-lg-1, .navigation .sidebar-menu-content .container .col-lg-2, .navigation .sidebar-menu-content .container .col-lg-3, .navigation .sidebar-menu-content .container .col-lg-4, .navigation .sidebar-menu-content .container .col-lg-5, .navigation .sidebar-menu-content .container .col-lg-6, .navigation .sidebar-menu-content .container .col-lg-7, .navigation .sidebar-menu-content .container .col-lg-8, .navigation .sidebar-menu-content .container .col-lg-9, .navigation .sidebar-menu-content .container .col-lg-10, .navigation .sidebar-menu-content .container .col-lg-11, .navigation .sidebar-menu-content .container .col-lg-12 {
        padding-right: 0;
        padding-left: 0; }
      .navigation .sidebar-menu-content .container label {
        text-align: right;
        clear: both;
        float: left;
        font: status-bar;
        margin-right: 15px; }
      .navigation .sidebar-menu-content .container input {
        float: right; }

.input-group {
  display: flex; }
  .input-group .form-control {
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #555555;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.line-height {
  margin-top: 10px;
  line-height: 100%; }

/*Greed systems styles*/
.custom-greed .head {
  font-weight: bold;
  font-size: 0.88em; }
.custom-greed .data-row {
  padding-top: 5px;
  font-size: 0.88em; }
  .custom-greed .data-row .actions {
    color: #34495e;
    font-size: 1.24em; }
.custom-greed .panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05); }
.custom-greed .panel-default {
  border-width: 0;
  border-style: none; }
.custom-greed .panel-default > .panel-heading {
  color: #333333;
  background-color: white;
  border-color: white;
  border-width: 0;
  border-style: none; }

.app-modal-window .modal-dialog {
  width: 500px;
  border-radius: 0;
  /*padding-top: 100px;*/
}

.app-modal-window-lay-order .modal-dialog {
  width: 600px;
  border-radius: 0;
  /*padding-top: 100px;*/
}

.app-modal-window-lay-order-add-product .modal-dialog {
  width: 600px;
  border-radius: 0;
  /*padding-top: 100px;*/
}

.modal-dialog .modal-content{
  border-radius: 0;
  border:none;
}

.modal-content .modal-footer {
	border-top: none;
	margin-top: 0px;
	padding-top:5px;
}

.modal-content .modal-body {
	padding-bottom: 0px;
}

.uploadProductModalButton {
	padding-right: 5px;
    padding-left: 5px;
}

.loadingAnimation {
	height: 10px;
    width: 100%;
	    background: rgba( 255, 255, 255, .8 ) 
                url('~/../../images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

.modal-editCompany {
	width:400px;
}
/*# sourceMappingURL=Site.css.map */

/*loading*/
#ballsWaveG{
	position:relative;
	width:144px;
	height:34px;
	margin:auto;
}

.ballsWaveG{
	position:absolute;
	top:0;
	background-color:rgb(52,73,94);
	width:18px;
	height:18px;
	animation-name:ballsWaveG;
		-o-animation-name:ballsWaveG;
		-ms-animation-name:ballsWaveG;
		-webkit-animation-name:ballsWaveG;
		-moz-animation-name:ballsWaveG;
	animation-duration:1.3s;
		-o-animation-duration:1.3s;
		-ms-animation-duration:1.3s;
		-webkit-animation-duration:1.3s;
		-moz-animation-duration:1.3s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:9px;
		-o-border-radius:9px;
		-ms-border-radius:9px;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
}

#ballsWaveG_1{
	left:0;
	animation-delay:0.52s;
		-o-animation-delay:0.52s;
		-ms-animation-delay:0.52s;
		-webkit-animation-delay:0.52s;
		-moz-animation-delay:0.52s;
}

#ballsWaveG_2{
	left:18px;
	animation-delay:0.65s;
		-o-animation-delay:0.65s;
		-ms-animation-delay:0.65s;
		-webkit-animation-delay:0.65s;
		-moz-animation-delay:0.65s;
}

#ballsWaveG_3{
	left:36px;
	animation-delay:0.78s;
		-o-animation-delay:0.78s;
		-ms-animation-delay:0.78s;
		-webkit-animation-delay:0.78s;
		-moz-animation-delay:0.78s;
}

#ballsWaveG_4{
	left:54px;
	animation-delay:0.91s;
		-o-animation-delay:0.91s;
		-ms-animation-delay:0.91s;
		-webkit-animation-delay:0.91s;
		-moz-animation-delay:0.91s;
}

#ballsWaveG_5{
	left:72px;
	animation-delay:1.04s;
		-o-animation-delay:1.04s;
		-ms-animation-delay:1.04s;
		-webkit-animation-delay:1.04s;
		-moz-animation-delay:1.04s;
}

#ballsWaveG_6{
	left:90px;
	animation-delay:1.17s;
		-o-animation-delay:1.17s;
		-ms-animation-delay:1.17s;
		-webkit-animation-delay:1.17s;
		-moz-animation-delay:1.17s;
}

#ballsWaveG_7{
	left:108px;
	animation-delay:1.3s;
		-o-animation-delay:1.3s;
		-ms-animation-delay:1.3s;
		-webkit-animation-delay:1.3s;
		-moz-animation-delay:1.3s;
}

#ballsWaveG_8{
	left:126px;
	animation-delay:1.43s;
		-o-animation-delay:1.43s;
		-ms-animation-delay:1.43s;
		-webkit-animation-delay:1.43s;
		-moz-animation-delay:1.43s;
}



@keyframes ballsWaveG{
	0%{
		background-color:rgb(65,201,235);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes ballsWaveG{
	0%{
		background-color:rgb(65,201,235);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes ballsWaveG{
	0%{
		background-color:rgb(65,201,235);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes ballsWaveG{
	0%{
		background-color:rgb(65,201,235);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes ballsWaveG{
	0%{
		background-color:rgb(65,201,235);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
/*end loading*/