/*Colors*/ 
$navigation-bg-color:rgba(45, 62, 80, 1);
$navigation-bg-color-active:rgba(52, 73, 94, 1);
$lable-active:rgba(73, 201, 175, 1);
$lable-green1:rgb(50, 186, 158);
 


/*Size*/
$button-widght: 75px;
$button-height: $button-widght + 5px;

$lineheight:37px;

$sidebar-widght:20%;
$sidebar-content-widght:80%;