<ol ng-show="isMenuTypeIs('0')" class="sidebar-menu">
    <li>
        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Clients')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Clients')}">
            <i class="fa fa-users fa-2x" style="color:white"></i>
            <br>Clients
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Storage')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Storage')}">
            <i class="fa fa-cloud fa-2x" style="color:white"></i>
            <br>Storage
        </button>
    </li>
    <li>
        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Orders')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Orders')}">
            <i class="fa fa-shopping-cart fa-2x" style="color:white"></i>
            <br>Orders
        </button>
    </li>
    <li>
        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Stats')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Stats')}">
            <i class="fa fa-bar-chart fa-2x" style="color:white"></i>
            <br>Stats
        </button>
    </li>
    <li>
        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Settings')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Settings')}">
            <i class="fa fa-cog fa-2x" style="color:white"></i>
            <br>Settings
        </button>
    </li>
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-default text-center btn-sidebar-menu">
            <i class="fa fa-sign-out fa-2x" style="color:white"></i>
            <br>Logout
        </button>
        }
    </li>
</ol>


<ol ng-show="isMenuTypeIs('1')" class="sidebar-menu">
    
    <li>
        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Dashboard')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Dashboard')}">
            <i class="fa fa-home fa-2x" style="color:white"></i>
            <br>Dashboard
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Storage')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Storage')}">
            <i class="fa fa-cloud fa-2x" style="color:white"></i>
            <br>Storage
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Orders')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Orders')}">
            <i class="fa fa-shopping-cart fa-2x" style="color: white"></i>
            <br>Orders
        </button>
    </li>
    <li>
        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Stats')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Stats')}">
            <i class="fa fa-bar-chart fa-2x" style="color:white"></i>
            <br>Stats
        </button>
    </li>
    <li>
        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Settings')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Settings')}">
            <i class="fa fa-cog fa-2x" style="color:white"></i>
            <br>Settings
        </button>
    </li>
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-default text-center btn-sidebar-menu">
                <i class="fa fa-sign-out fa-2x" style="color: white"></i>
                <br>Logout
            </button>
        }
    </li>
</ol>

<ol ng-show="isMenuTypeIs('2')" class="sidebar-menu">
    <li>
        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Dashboard')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Dashboard')}">
            <i class="fa fa-home fa-2x" style="color:white"></i>
            <br>Dashboard
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Storage')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Storage')}">
            <i class="fa fa-cloud fa-2x" style="color:white"></i>
            <br>Storage
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Orders')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Orders')}">
            <i class="fa fa-shopping-cart fa-2x" style="color: white"></i>
            <br>Orders
        </button>
    </li>
    <li>
        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Stats')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Stats')}">
            <i class="fa fa-bar-chart fa-2x" style="color:white"></i>
            <br>Stats
        </button>
    </li>
    <li>
        <button type="button" disabled class="btn btn-default text-center btn-sidebar-menu" ng-click="selectMainMenu('/Settings')" ng-class="{'btn-menu-selected': isActiveMainMenu('/Settings')}">
            <i class="fa fa-cog fa-2x" style="color:white"></i>
            <br>Settings
        </button>
    </li>
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-default text-center btn-sidebar-menu">
                <i class="fa fa-sign-out fa-2x" style="color:white"></i>
                <br>Logout
            </button>
        }
    </li>
</ol>