@model Formeo.Models.AddProductsViewModel

<div ng-init="printObjectsInfoModal = @Model.PrintObjectsInfoJSON" />
<div class="modal-content">
    <div class="modal-header" style="background-color: #34495E; color: white;">
        <h5 class="modal-title"><b>Add products</b></h5>
    </div>
    <div class="modal-body">
        <div ng-show="printObjectsInfoModal.length">
            <p>Please select products to add:</p>
            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-2">Art. No.</th>
                            <th class="col-md-9">Product Name</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="printObject in printObjectsInfoModal">
                            <td class="col-md-2">{{printObject.ArtNo}}</td>
                            <td class="col-md-9">{{printObject.Name}}</td>
                            <td class="col-md-1">
                                <input type="checkbox" ng-checked="printObjectIsSelected(printObject)" ng-click="addOrRemovePrintobject(printObject)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-show="!printObjectsInfoModal.length">
            <h4>Sorry! No objects to add - you have selected all products that have producer.</h4>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 uploadProductModalButton">
                    <button type="button" class="btn btn-default btn-block btn-upload-product" style="background-color:#FF8080" ng-click="cancel()">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                </div>
                <div class="col-md-6 uploadProductModalButton">
                    <button type="button" ng-disabled="!selectedPrintObjectsInfoModal.length" class="btn btn-default btn-block btn-upload-product" style="background-color:#49c9af;" ng-click="Add()">
                        <i class="fa fa-plus"></i>
                        Add Selected Products
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


