<div class="modal-content">
    <div class="modal-header" style="background-color: #34495E; color: white;">
        <h5 class="modal-title"><b>Order Confirmation</b></h5>
    </div>
    <div class="modal-body" style="padding-bottom:25px;">
        <p>The following order has been layed:</p>
        <div class="container">
            <br />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">Art. No.</th>
                        <th class="col-md-8">Product Name</th>
                        <th class="col-md-2">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="printObject in printObjectsInfoModal">
                        <td class="col-md-2">{{printObject.ArtNo}}</td>
                        <td class="col-md-9">{{printObject.Name}}</td>
                        <td class="col-md-1">{{printObject.Quantity}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        Total Price: {{totalPrice}}
                    </div>
                </div>
            </div>
            <p><span><b>Order Info: </b>{{orderName}}</span></p>
            <p><span><b>To:</b> {{deliveryInfo.Surname}} {{deliveryInfo.LastName}}</span></p>
            <div class="container" style="padding-left:45px;">
                <div class="row">
                    <span>{{deliveryInfo.PostCode}}, {{deliveryInfo.Country}}, {{deliveryInfo.City}}</span>
                </div>
                <div class="row">
                    <span>{{deliveryInfo.Address}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 uploadProductModalButton">
                    <button type="button" class="btn btn-default btn-block btn-upload-product" style="background-color:#FF8080" ng-click="cancel()">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                </div>
                <div class="col-md-6 uploadProductModalButton">
                    <button type="button" class="btn btn-default btn-block btn-upload-product" style="background-color:#49c9af;" ng-click="CreateOrder()">
                        <i class="fa fa-paper-plane-o"></i>
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


