@model Formeo.Models.LayOrderViewModel

<div ng-init="printObjectsInfoModal = @Model.PrintObjectsInfoJSON" />
<div class="modal-content" style="border-radius: 0; border:none;">
    <div class=" modal-header" style="background-color: #34495E; color: white;">
        <h5 class="modal-title"><b>Lay Order</b></h5>
    </div>
    <div class="modal-body">
        <div ng-init="TotalPrice = RecalculateTotalPrice()"/>
        <p>You're about to order following:</p>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Art.No.</th>
                        <th class="col-md-6">Product Name</th>
                        <th class="col-md-3">Current Price</th>
                        <th class="col-md-1">Quantity</th>
                        <th class="col-md-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="printObject in printObjectsInfoModal">
                        <td>{{printObject.ArtNo}}</td>
                        <td>{{printObject.Name}}</td>
                        <td>{{printObject.CurrentPrice}}</td>
                        <td style="text-align: center;">
                            <div class="input-group">
                                <a href="#" ng-click="increasePrintObjectQuantity(printObject)" style="padding-right:5px;">
                                    <i class="fa fa-plus-square fa-lg" style="color:#49c9af"></i>
                                </a>
                                {{printObject.Quantity}}
                                <a href="#" ng-click="decreasePrintObjectQuantity(printObject)" style="padding-left:5px;">
                                    <i class="fa fa-minus-square fa-lg" style="color:#49c9af"></i>
                                </a>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <a href="#" ng-click="removePrintObjectFromOrder(printObject)">
                                <i class="fa fa-times fa-lg" style="color:#FF8080"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Total Price: {{TotalPrice}}
                </div>
            </div>
        </div>
        <p>Order info:</p>
        <div class="container">
            <div class="row">
                <div class="col-md-12 uploadProductModalButton">
                    <input class="form-control login-textbox" placeholder="Order Name" ng-model="orderName">
                </div>
            </div>
        </div>
        <p>Delivery info</p>
        <div class="container" ng-init="deliveryInfo">
            <div class="row">
                <div class="col-md-6 uploadProductModalButton">
                    <input class="form-control login-textbox" placeholder="First Name" ng-model="deliveryInfo.Surname">
                </div>
                <div class="col-md-6 uploadProductModalButton">
                    <input class="form-control login-textbox" placeholder="Last Name" ng-model="deliveryInfo.LastName">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 uploadProductModalButton">
                    <textarea class="form-control login-textbox" rows="2" placeholder="Delivery address" ng-model="deliveryInfo.Address" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 uploadProductModalButton">
                    <input class="form-control login-textbox" placeholder="City" ng-model="deliveryInfo.City">
                </div>
                <div class="col-md-4 uploadProductModalButton">
                    <input class="form-control login-textbox" placeholder="Country" ng-model="deliveryInfo.Country">
                </div>
                <div class="col-md-3 uploadProductModalButton">
                    <input type="number" class="form-control login-textbox" placeholder="Postal code" ng-model="deliveryInfo.PostCode">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="padding-top:15px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 uploadProductModalButton">
                    <button type="button" class="btn btn-default btn-block btn-upload-product" style="background-color:#FF8080" ng-click="cancel()">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                </div>
                <div class="col-md-4 uploadProductModalButton">
                    <button type="button" class="btn btn-default btn-block btn-upload-product" style="background-color:#C2C2C2;" ng-click="AddProduct()">
                        <i class="fa fa-plus"></i>
                        Add Product
                    </button>
                </div>
                <div class="col-md-4 uploadProductModalButton">
                    <button type="button" class="btn btn-default btn-block btn-upload-product" ng-click="LayOrder()">
                        <i class="fa fa-paper-plane-o"></i>
                        Lay order
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
