<div class="row">
    <div class="content-place-holder container">
        <br />
        <div class="row">
            <label class="right">
                <h4>Notifications</h4>
            </label>
            <button class="btn btn-default btn-xs btn-add-right" type="button" role="button">+</button>
        </div>

        <span class="text-sm full-wight">&#60;Info.no&#62;&#60;Message&#62;&#60;Link to description&#62;</span> 
 
    </div>
</div>

