<div class="content-place-holder">
    <br />
    <div class="row">
        <label class="right">
            <h4>Category</h4>
        </label>
        <button class="btn btn-default btn-xs btn-add-right" type="button" role="button">+</button>
    </div>

    <span class="text-sm">&#60;Type&#62;</span>

    <div>
        <span class="text-sm left">Material</span>
        <a class="link right" href="#">+</a>
    </div>
</div>

<div class="tabs-place-holder">
    <div class="list-group">
        <a href="#" class="list-group-item btn-default-darck active">
            All
        </a>
        <a href="#" class="list-group-item btn-default-darck">
            New
        </a>
    </div>
</div>



