<link rel="stylesheet" href="~/Content/select.css">
<link rel="stylesheet" href="~/Content/select2.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
<link rel="stylesheet" href="~/Content/Site.css">
<link rel="stylesheet" href="~/Content/Site2.css">

<div class="modal-content" style="border-radius: 0; border:none;">
    <div class="modal-header" style="background-color: #34495E; color: white;">
        <h5 class="modal-title"><b>Edit User</b></h5>
    </div>
    <div class="modal-body">
                <div class="padding30px">
                    <div class="row form-group-margin">
                        <p style="font-weight:bold">User Name: {{user.UserName}}</p>
                        <p></p>
                        <p style="font-weight:bold">Reset Password?  <input type="checkbox" ng-model="resetPassword" ng-click="user.NewPassword=''" /></p>
                                 
                            <input type="password" placeholder="New Password" autofocus class="form-control login-textbox textbox-menu" ng-model="user.NewPassword" ng-show="resetPassword==true">
                        

                        <div class="row">
                            <div class="col-md-6">
                                <input class="pointer" name="SelectedRoleInModal" ng-model="user.SelectedRole" type="radio" ng-value="'@Formeo.Models.StaticData.RoleNames.Producer'" ng-click="setDefaultCompany()">
                                <label for="isProduction" style="font-size: medium">Producer</label>
                            </div>
                            <div class="col-md-6">
                                <input class="pointer" name="SelectedRoleInModal" ng-model="user.SelectedRole" type="radio" ng-value="'@Formeo.Models.StaticData.RoleNames.Customer'" ng-click="setDefaultCompany()">
                                <label for="isCustomer" style="font-size: medium">Customer</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;" ng-switch="user.SelectedRole">
                            <div ng-switch-when="Producer">
                                <ui-select ng-model="user.Company" ui-select-field="id" theme="bootstrap" style="border-radius:0px;">
                                    <ui-select-match placeholder="Select a company from list">{{$select.selected.companyName}}</ui-select-match>
                                    <ui-select-choices repeat="company in companies | filter: {isCustomer: false} | propsFilter: {companyName: $select.search}">
                                        <div ng-bind-html="company.companyName | highlight: $select.search"></div>
                                        <small>
                                            Org Number: {{company.orgNumber}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div ng-switch-when="Customer">
                                <ui-select ng-model="user.Company" ui-select-field="id" theme="bootstrap" style="border-radius:0px;">
                                    <ui-select-match placeholder="Select a company from list">{{$select.selected.companyName}}</ui-select-match>
                                    <ui-select-choices repeat="company in companies | filter: {isCustomer: true}| propsFilter: {companyName: $select.search}">
                                        <div ng-bind-html="company.companyName | highlight: $select.search"></div>
                                        <small>
                                            Org Number: {{company.orgNumber}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <p style="font-weight:bold">Email:</p>
                        <input type="email" ng-model="user.Email" name="Email" id="Email" placeholder="Email" autofocus class="form-control login-textbox textbox-menu" maxlength="25" />
                        <p style="font-weight:bold">Address:</p>
                        <input type="text" ng-model="user.Address" name="Address" id="Address" placeholder="Address" autofocus class="form-control login-textbox textbox-menu" maxlength="23" />
                        <p style="font-weight:bold">Postal Code:</p>
                        <input type="text" ng-model="user.Postal" name="Postal" id="Postal" placeholder="Postal Code" autofocus class="form-control login-textbox textbox-menu" maxlength="23" />
                        <p style="font-weight:bold">City:</p>
                        <input type="text" ng-model="user.City" name="City" id="City" placeholder="City" autofocus class="form-control login-textbox textbox-menu" maxlength="23" />
                        <p style="font-weight:bold">Country:</p>
                        <input type="text" ng-model="user.Country" name="Country" id="Country" placeholder="Country" autofocus class="form-control login-textbox textbox-menu" maxlength="23" />
                    </div>
                </div>
    </div>
    <div class="modal-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 uploadProductModalButton">
                    <button type="button" class="btn btn-default btn-block btn-upload-product" style="background-color:#FF8080" ng-click="cancel()">
                        <i class="fa fa-times"></i>
                        Cancel
                    </button>
                </div>
                <div class="col-md-6 uploadProductModalButton">
                    <button type="button" class="btn btn-default btn-block btn-upload-product" style="background-color:#49c9af;" ng-click="EditUser()">
                        <i class="fa fa-plus"></i>
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>